<div class="panel panel-default">
  <div class="panel-heading" >
	  <h1>新4年生クラス委員選出</h1>
  </div>
</div>

<div class="container"><div class="row">
	
	<table class="table table-bordered">
		<tr><th>立候補者</th><th>抽選結果</th></tr>
		<tr>
			<td>
				<% @candidates.each do |candidate| %>
				<%= candidate %></br>
				<% end %>
			</td>
			<td class="bg-info">
				<% @selected.each do |person| %>
				<%= person %></br>
				<% end %>
			</td>
		</tr>
	</table>	
			
</container>


<h3><%= link_to '再選出', 'http://localhost:3000/lot/select' %></h3>
<h3><%= link_to 'HOME', 'http://localhost:3000/index' %></h3>

