<div class="panel panel-default">
  <div class="panel-heading" >
	  <h1>新4年生クラス委員選出</h1>
  </div>
</div>

<div class="container"><div class="row">
	
	<table class="table table-bordered">
		<tr><th class="col-sm-1">立候補者</th><th class="col-sm-2">抽選結果</th></tr>
		<tr>
			<td>
				<ol>
				<% @candidates.each do |candidate| %>
				<li><%= candidate %></li>
				<% end %>
				</ol>
			</td>
			<td>
				<ol class="hidden" id="result">
				<% @selected.each do |person| %>
				<li><%= person %></li>
				<% end %>
				</ol>
			</td>
		</tr>
	</table>	
			
</container>


<h3><%= link_to '選出/再選出', 'http://localhost:3000/lot/select?showResult=true', method: :get%></h3>
<h3><%= link_to 'HOME', 'http://localhost:3000/index' %></h3>

