<h1>クラス委員立候補者</h1>

<h2>Tomo,&nbsp;&nbsp Chie,&nbsp;&nbsp Ikko,&nbsp;&nbsp Eri</h2>
<h2>Kumi,&nbsp;&nbsp Aki,&nbsp;&nbsp Chihiro,&nbsp;&nbsp　Yumi </h2>
<h2>Fumi,&nbsp;&nbsp Aya</h2></br>

<h1><%= link_to '選出', 'http://localhost:3000/lot/select' %></h1>