body {
	text-align: left;
}

/* style.css */
* {
   font-size: 18px;
   line-height: 2;
}

.panel-default > .panel-heading {
    background-image: none;
    background-color: #ccf9e4;
}

.hidden {
	visibility: false;
}


